extends strona.pug 

block content
    // Banner główny
    section.text-light.bg-dark.text-center.kontener-index.py-4(style="width: 100%; border-bottom: 1px solid #333;")
        h1.display-4 Witaj w Smakach Świata!
        div(style="margin: auto; width: 75%;")
          p.lead.text-center(style="text-align: center;") Jesteśmy miejscem, gdzie podróżujemy przez smaki z różnych zakątków globu, przenosząc kultury kulinarne na Twoje talerze. Nasza pasja do odkrywania nowych smaków sprawia, że ciągle eksperymentujemy, łączymy tradycję z nowoczesnością i serwujemy autentyczne doznania kulinarne. Zapraszamy Cię do naszego świata, gdzie każdy kęs to podróż w nieznane!

    // Sekcje
    section#about.py-5.text-light.bg-dark
      .container
        h2 O nas
        div(style="margin: auto; width: 75%; text-align: center;")
          p.lead.text-center(style="text-align: center;") Witaj w świecie Smaków Świata! Jesteśmy grupą pasjonatów kulinarnych, którzy nieustannie poszukują nowych smaków i inspiracji z różnych zakątków globu. Nasza misja to przyniesienie do Twojego stołu autentycznych doznań kulinarnej podróży, łącząc tradycję z nowoczesnością. Wierzymy, że każdy kęs może być wyjątkową przygodą, dlatego eksperymentujemy, kreujemy i serwujemy smaki, które zapadną Ci w pamięć na długo. Dołącz do naszej podróży i odkrywaj razem z nami fascynujący świat kulinariów!
          a.btn.text-light(href='/o_nas' style='background-color: #333') O nas

    section#menu.py-5.text-light.bg-dark
      .container
        h2 Dostępne Kuchnie
        .row.py-4
            each val in dane
              .col-md-4
                .card(style='width: 18rem; margin: 0 auto; background-color: #333')
                  img.card-img-top(src=val.ZdjeciaLink alt='...' style='height: 200px; object-fit: cover;')
                  .card-body
                    h5.card-title.text-light #{val.NazwaKuchni}
                    p.card-text.text-light
                      | #{val.Opis}
                    a.btn.btn-primary(href='/' + val.DodatkowyLink) Zobacz dania


    section#contact.py-5.text-light.bg-dark
      .container
        h2 Kontakt
        div(style="margin: auto; width: 75%; text-align: center;")
          p.lead.text-center(style="text-align: center;") Chcesz się skontaktować z nami? Świetnie! Jesteśmy otwarci na wszelkie pytania, propozycje współpracy, czy też po prostu na chwilę kulinarnego dialogu. Nie wahaj się więc i napisz do nas! Możesz skorzystać z formularza kontaktowego, wysłać nam e-maila lub odwiedzić nas osobiście. Jesteśmy gotowi na rozmowę i czekamy na Twój sygnał!
          a.btn.text-light(href='/kontakt' style='background-color: #333') Kontakt

