extends strona.pug 

block content
    style.
    .container.mt-5
      h1.text-light.text-center Kuchnia Francuska
      p.fs-5.text-light.text-center
        | Kuchnia francuska to sztuka elegancji i wyrafinowania, znana z wykwintnych dań i bogactwa smaków, jak foie gras i escargots, celebrująca tradycję i przyjemność wspólnego jedzenia.
      .row.mt-4.py-4
        each val in data
          .col-md-6.mb-4
            .card(style="display: flex; flex-direction: column; background-color: #333; color: white; border: 1px solid #444; border-radius: 10px; overflow: hidden;")
              img.card-img-top(src=val.LinkZdjecie alt='...' style='height: 400px; object-fit: cover;')
              .card-body(style="flex: 1;")
                h5.card-title #{val.Nazwa}
                p.card-text.card-text-1
                  | #{val.Opis}
                  br
              

              
