extends strona.pug 

block content
    .container.mt-3
      h1.h1.text-light.text-center O nas
      p.fs-5.text-light.text-center
        | Smaki Świata to nie tylko restauracja, to miejsce, gdzie każdy posiłek to podróż do najdalszych zakątków kulinarnego świata. Nasza pasja do wyjątkowych smaków i autentycznych receptur sprawia, że każdy kęs to spotkanie z tradycją i aromatem z różnych kontynentów.
    
    .container-fluid(style="width: 80%; border-bottom: 1px solid #333;")
        .row.mt-4.py-4(style="display: flex; justify-content: space-between; width: 47%; float: left;")
          h1.text-light Poznaj nas bliżej
          .row.mt-4.py-1
            each val in data
                .col-md-6.mb-4
                    .card.my-4(style="display: flex; background-color: #333; color: white; border: 1px solid #444; border-radius: 10px; overflow: hidden;")
                      img.card-img-top(src=val.Zdjecie + ".gif" alt='...' style='height: 350px; object-fit: cover;')
                      .card-body
                        h4.card-title #{val.Imie}
                        p.card-text.fs-6
                          | #{val.Opis}
                          br
        .row.mt-4.py-4(style="display: flex; justify-content: space-between; width: 47%; float: right;")
            h1.h1.text-light Historia Firmy
            p.text-light
                | Historia naszej firmy sięga roku 2024., kiedy to jej załołyciel, Krzysztof Łuksza, rozpoczął działalność. Początkowo zajmowaliśmy się tylko robieniem niczego, jednak wraz z rozwojem firmy i zwiększającym się zapotrzebowaniem klientów, rozszerzyliśmy naszą ofertę o robienie jeszcze większej ilości niczego.
            p.text-light
                | W kwietniu 2024 roku otworzyliśmy nasz pierwszy nie robiący nic projekt, który cieszył się dużym uznaniem. Dzięki wysokiej jakości naszych produktów oraz profesjonalnej obsłudze, zdobyliśmy lojalne grono klientów.
            p.text-light
                | W kolejnych dniach firma dynamicznie się rozwijała, otwierając kolejne poradniki robienia niczego. Nasze linijki kodu trafiły nie tylko do polskich domów, ale także na rynki międzynarodowe, co przyczyniło się do ugruntowania naszej marki jako lidera w branży robienia niczego.
            p.text-light
                | Dziś, po ponad tygodniu działalności, nadal kierujemy się tymi samymi wartościami, które sprawiły, że nasza firma zaczęła od niczego. Jesteśmy dumni z naszego zespołu, który codziennie pracuje nad tworzeniem wyjątkowych i trwałych sposobów na robienie niczego.
            br
            h1.h1.text-light Nasze Wartości
            h1.h4.text-light Współpraca
            p.text-light 
                | W naszej firmie zaufanie między pracownikami jest na najwyższym poziomie, co sprawia, że nasza współpraca jest skuteczna i efektywna. Wspólnie tworzymy wyjątkowe projekty, które przyczyniają się do rozwoju firmy i zadowolenia klientów.
            h1.h4.text-light Perfekcja
            p.text-light 
                | Perfekcjonizm to nasza druga natura. Dążymy do doskonałości w każdym projekcie, który realizujemy, dbając o najmniejsze detale i starając się sprostać najwyższym standardom jakości.
            h1.h4.text-light Innowacyjność
            p.text-light 
                | Jesteśmy otwarci na nowe pomysły i technologie, które mogą przyczynić się do rozwoju naszej firmy. Stale poszukujemy nowych rozwiązań, które pozwolą nam na tworzenie jeszcze lepszych produktów i usług.