body{ min-height: 100vh; margin:0; }

header{ min-height:65px; background:lightcyan; }
footer{ min-height:65px; background:PapayaWhip; }

/* The article fills all the space between header & footer */
body{ display:flex; flex-direction:column; }
article{ flex:1; }

section{
    border: 1px solid #333;
    width: 75%;
    margin: auto;
}


.reluwa{
    clear:both;
}
.kontenenr-index{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.navbar-toggler-icon {
    background-color: #888;
}
.d-flex.align-items-center.justify-content-between.w-100 {
    position: relative;
}
.navbar-toggler {
    position: absolute;
    top: 10px; /* adjust as needed */
    right: 10px; /* adjust as needed */
}
.dropdown-item:hover {
    background-color: #e71818; /* change to the color you want on hover */
}


.navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity to darken/lighten as needed */
  }